In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
import joblib

In [9]:
# Read file 'weight-height.xlsx'
url1 = 'https://docs.google.com/spreadsheets/d/1H3Rwr4JxbNZWqe5D0zsOZ0epXHl9zHJq/edit?usp=sharing&ouid=101427606670580371102&rtpof=true&sd=true'
url2 = 'https://drive.google.com/uc?id=' + url1.split('/')[-2]
df_raw = pd.read_excel(url2)
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 1 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Gender,"Height","Weight"  10000 non-null  object
dtypes: object(1)
memory usage: 78.2+ KB

In [10]:
df = df_raw.iloc[:, 0].str.split(',', expand=True)
df.columns = [n.replace('"', '') for n in df_raw.columns.str.split(',')[0]]
df.head()

  Gender            Height            Weight
0   Male   73.847017017515  241.893563180437
1   Male  68.7819040458903  162.310472521300
2   Male  74.1101053917849    212.7408555565
3   Male  71.7309784033377  220.042470303077
4   Male  69.8817958611153  206.349800623871

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  10000 non-null  object
 1   Height  10000 non-null  object
 2   Weight  10000 non-null  object
dtypes: object(3)
memory usage: 234.5+ KB

#Scaling & Labeling Attribute

In [15]:
label_enc = LabelEncoder()
# Male = 1, Female = 0
df.Gender = label_enc.fit_transform(df.Gender)
df.sample(10)

      Gender            Height            Weight
680        1  68.6082084641792  181.724836528158
6918       0  60.0985913347773  122.744885450502
5754       0   59.550766330213   132.98838873545
8326       0  64.7005698105255  146.402676964792
8434       0  63.9985239139983  149.364782801046
6366       0  67.6125139624813  157.760811230146
6235       0  58.6463298569074  96.5248498312934
4935       1  70.7507801350366   212.64766663837
1295       1  69.8959573133937  181.448134946726
6486       0  62.4803421519663  153.286220593713

In [24]:
X = df.drop("Weight", axis=1)
y = df["Weight"]

In [25]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  10000 non-null  int64
 1   Height  10000 non-null  object
dtypes: int64(1), object(1)
memory usage: 156.4+ KB

In [29]:
X.head(10)

   Gender            Height
0       1   73.847017017515
1       1  68.7819040458903
2       1  74.1101053917849
3       1  71.7309784033377
4       1  69.8817958611153
5       1  67.2530156878065
6       1  68.7850812516616
7       1  68.3485155115879
8       1   67.018949662883
9       1  63.4564939783664

In [30]:
y.head(10)

0    241.893563180437
1    162.310472521300
2      212.7408555565
3    220.042470303077
4    206.349800623871
5    152.212155757083
6    183.927888604031
7    167.971110489509
8     175.92944039571
9    156.399676387112
Name: Weight, dtype: object

#Training Model

In [31]:
log_regr = LinearRegression()
X_train, X_test, y_train, y_test = train_test_split(X, y)

model = log_regr.fit(X_train, y_train)

In [32]:
accuracy = model.score(X_test, y_test)
print(f"Model Accuracy: {accuracy * 100}%")

Model Accuracy: 90.2267315373475%

#Menyimpan Model dan Scaler

In [33]:
joblib.dump((model), "weight-height-classification-using-linear-regression.pkl")

['weight-height-classification-using-linear-regression.pkl']